@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-ap-tan: #F7F3ED;
  --color-ap-beige: #CAAE91;
  --color-ap-pale: #E9DDCD;
  --color-ap-brown: #634F40;
}

html { scroll-behavior: smooth; }
body { margin: 0; min-width: 320px; min-height: 100vh; background-color: var(--color-ap-tan); font-family: 'Montserrat', sans-serif; }
.bg-home { width: 100%; height: 100vh; background-image: url("./assets/images/Background/HomeBackground.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; filter: brightness(0.3); }
